In [1]:
# Decorations
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from config import api_key
from pprint import pprint
import gmplot

In [6]:
# Import database
df = pd.read_csv('Data/housing.csv')
df = df.dropna()

In [8]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,LatLng
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY,"37.88,-122.23"
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY,"37.86,-122.22"
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY,"37.85,-122.24"
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY,"37.85,-122.25"
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY,"37.85,-122.25"

### Ploting on Gmap

In [ ]:
df['LatLng'] = df['latitude'].astype(str) + ',' + df['longitude'].astype(str)
for i in df['LatLng']:
    target_url = f"https://maps.googleapis.com/maps/api/geocode/json?latlng={i}&key={api_key}"
    geo_data = requests.get(target_url).json()

### Analysis

In [ ]:
# Groupby Longitude and Latitude
loc_df = df.set_index(['longitude', 'latitude'])
loc_df.head()

In [ ]:
ocean_group_median = loc_df.groupby('ocean_proximity').median()
ocean_group_median

In [ ]:
ocean_group_mean = loc_df.groupby('ocean_proximity').mean()
ocean_group_mean

In [ ]:
# Pick top 10% and bottom 10% of listed entries from 1990 database

In [ ]:
# Find out shared properties for both top and bottom 10% enties
    # Find mean for population density, room numbers and etc.