In [1]:
# Decorations
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#from config import api_key
from pprint import pprint
#import gmplot

In [2]:
# Import database
df1 = pd.read_csv('Data/housing.csv')
df2 = pd.read_csv('Data/Total.csv')
df1 = df1.dropna()

In [3]:
df2.head()

,Unnamed: 0,Listing ID,S,Sub Type,St#,St Name,City,MLS Area,SLC,L/C Price,...,Br/Ba,Sqft,YrBuilt,Ac/LSqft,DOM/CDOM,View YN,Pool Private YN,BAC,Contract Status Change Date,MLS
0,1,180048066,S,MANL/D,12,Via Veneto #12,CHU,NaN,NaN,"$89,000",...,"2/2,0,0,0",1000/P,2006,NaN,8-Aug,NaN,N,2500,9/14/2018,SAND
1,1,180047253,S,CONDO/A,1653,Pentecost Way #1,SD,NaN,NaN,"$158,000",...,"1/1,0,0,0",668/A,1980,NaN,1-Jan,NaN,N,2.5,9/7/2018,SAND
2,1,180046958,S,CONDO/A,6101,Adelaide Ave #107,SD,NaN,NaN,"$168,250",...,"0/1,0,0,0",299/A,1984/ASR,NaN,5-May,NaN,N,2.5,9/14/2018,SAND
3,1,180047651,S,CONDO/A,589 N,Johnson #137,ELC,NaN,NaN,"$175,000",...,"2/1,0,0,0",883/,1980,NaN,4-Apr,NaN,N,500,8/28/2018,SAND
4,1,180051931,S,SFR,3138,Roadrunner,BSPG,NaN,NaN,"$190,000",...,"2/2,0,0,0",1356/A,1986,NaN,0/135,NaN,N,3,9/14/2018,SAND

In [12]:
df2 = df2[['Sub Type', 'St#', 'St Name', 'City', 'L/C Price', 'Br/Ba', 'YrBuilt']]
df2.head()
#df2 = df2.drop(on=0)

  Sub Type    St#               St Name  City  L/C Price      Br/Ba   YrBuilt
0   MANL/D     12     Via Veneto    #12   CHU   $89,000   2/2,0,0,0      2006
1  CONDO/A   1653   Pentecost Way    #1    SD  $158,000   1/1,0,0,0      1980
2  CONDO/A   6101  Adelaide Ave    #107    SD  $168,250   0/1,0,0,0  1984/ASR
3  CONDO/A  589 N       Johnson    #137   ELC  $175,000   2/1,0,0,0      1980
4      SFR   3138         Roadrunner     BSPG  $190,000   2/2,0,0,0      1986

In [15]:
yr_blt = df2.loc[:, 'YrBuilt'].str.split('/', expand=True)[0]
yr_blt = pd.DataFrame(yr_blt)
yr_blt = yr_blt.fillna(0)

In [17]:
df2['Age'] = ''
count = 0
for i in yr_blt[0]:
        i = 2018 - int(i)
        df2['Age'][count] = i
        count += 1
df2.head()

,Sub Type,St#,St Name,City,L/C Price,Br/Ba,YrBuilt,Age
0,MANL/D,12,Via Veneto #12,CHU,"$89,000","2/2,0,0,0",2006,12
1,CONDO/A,1653,Pentecost Way #1,SD,"$158,000","1/1,0,0,0",1980,38
2,CONDO/A,6101,Adelaide Ave #107,SD,"$168,250","0/1,0,0,0",1984/ASR,34
3,CONDO/A,589 N,Johnson #137,ELC,"$175,000","2/1,0,0,0",1980,38
4,SFR,3138,Roadrunner,BSPG,"$190,000","2/2,0,0,0",1986,32

In [24]:
df2['house_price'] = df2.loc[:, 'L/C Price'].str.split('$', expand=True)[1]

In [25]:
df2.head()

,Sub Type,St#,St Name,City,L/C Price,Br/Ba,YrBuilt,Age,house_price
0,MANL/D,12,Via Veneto #12,CHU,"$89,000","2/2,0,0,0",2006,12,"89,000"
1,CONDO/A,1653,Pentecost Way #1,SD,"$158,000","1/1,0,0,0",1980,38,"158,000"
2,CONDO/A,6101,Adelaide Ave #107,SD,"$168,250","0/1,0,0,0",1984/ASR,34,"168,250"
3,CONDO/A,589 N,Johnson #137,ELC,"$175,000","2/1,0,0,0",1980,38,"175,000"
4,SFR,3138,Roadrunner,BSPG,"$190,000","2/2,0,0,0",1986,32,"190,000"

In [34]:
df2_by_value = df2.set_index("L/C Price")
df2_by_value = df2_by_value.reset_index()
df2_by_value

,L/C Price,Sub Type,St#,St Name,City,Br/Ba,YrBuilt,Age,house_price
0,"$89,000",MANL/D,12,Via Veneto #12,CHU,"2/2,0,0,0",2006,12,"89,000"
1,"$158,000",CONDO/A,1653,Pentecost Way #1,SD,"1/1,0,0,0",1980,38,"158,000"
2,"$168,250",CONDO/A,6101,Adelaide Ave #107,SD,"0/1,0,0,0",1984/ASR,34,"168,250"
3,"$175,000",CONDO/A,589 N,Johnson #137,ELC,"2/1,0,0,0",1980,38,"175,000"
4,"$190,000",SFR,3138,Roadrunner,BSPG,"2/2,0,0,0",1986,32,"190,000"
5,"$215,000",CONDO/A,9859,Mission Viejo Ct #3,SAN,"2/1,0,0,0",1972,46,"215,000"
6,"$242,000",CONDO/A,5648,Amaya Dr #136,LMSA,"1/1,0,0,0",1997,21,"242,000"
7,"$245,000",CONDO/A,6780,Friars Rd #102,SD,"0/1,0,0,0",1972,46,"245,000"
8,"$247,000",SFR/D,1108 S,Berry DR,MDRA,"3/2,0,0,0",2008/PUB,10,"247,000"
9,"$250,000",CONDO/A,7747,Margerum Ave #232,SD,"1/1,0,0,0",1978,40,"250,000"
10,"$250,000",MANL/D,16932,Quartz ST,JMST,"3/2,0,0,0",1996/ASR,22,"250,000"
11,"$251,000",DPLX,5345,Caminito Mindy,SD,"3/1,0,1,0",1973,45,"251,000"
12,"$260,000",SFR,3742,Thorn,SD,"3/1,0,0,0",1938,80,"260,000"
13,"$265,000",CONDO/A,1453,Melrose #9,CHU,"2/1,0,0,0",1972,46,"265,000"
14,"$265,000",SFR/D,1015,Green ST,WLLS,"3/2,0,0,0",1999/ASR,19,"265,000"
15,"$270,000",SFR/D,834,Alice LN,CHIC,"3/1,1,0,0",1957/ASR,61,"270,000"
16,"$277,000",SFR/D,1996,Pebble Beach DR,MERC,"3/2,0,0,0",1993/ASR,25,"277,000"
17,"$280,000",CONDO/A,1021,Scott St #209,SD,"0/1,0,0,0",1980,38,"280,000"
18,"$310,000",CONDO/A,3050,Rue DOrleans #385,SD,"1/1,0,0,0",1969/ASR,49,"310,000"
19,"$315,000",SFR/D,773,Skylark DR,CHIC,"3/2,0,0,0",1987/ASR,31,"315,000"
20,"$325,000",CONDO/A,9929,Azuaga St #204,SD,"2/1,0,0,0",1992,26,"325,000"
21,"$326,000",SFR/D,664,Rancho Vista Rd,VST,"3/2,0,0,0",1970,48,"326,000"
22,"$335,000",SFR/D,9531,Deerbrook St,RCUC,"3/2,0,0,0",1977/ASR,41,"335,000"
23,"$335,000",TWNHS/A,1176,Denver Lane #A,ELC,"3/1,0,1,0",1973/ASR,45,"335,000"
24,"$336,000",SFR/D,2815,Clark WAY,CHIC,"3/2,0,0,0",2018/BLD,0,"336,000"
25,"$346,000",SFR/D,1456,Paradise Rd.,SD,"3/2,0,0,0",1960,58,"346,000"
26,"$355,000",CONDO/A,121 W,Glaucus St #A,ENCS,"0/1,0,0,0",1975,43,"355,000"
27,"$370,000",SFR/D,6051,Thorn,SD,"3/1,0,0,0",1954,64,"370,000"
28,"$370,000",SFR/D,1169,Bellflower WAY,LBAN,"4/2,0,0,0",2007/ASR,11,"370,000"
29,"$375,000",CONDO/A,3985,Nobel Drive #335,SD,"1/1,0,0,0",1987,31,"375,000"
...,...,...,...,...,...,...,...,...,...
4969,"$1,282,700",SFR/D,5148,Noella WAY,SJOS,"3/2,0,0,0",1958,60,"1,282,700"
4970,"$1,300,000",SFR/D,521,Madison AVE,SNBR,"3/2,0,0,0",1958,60,"1,300,000"
4971,"$1,325,000",SFR/D,10510,Travis CT,GILR,"3/3,0,0,0",1986,32,"1,325,000"
4972,"$1,330,000",TWNHS,763,Bryn Mawr CT #46,MTVW,"2/2,0,0,0",2004,14,"1,330,000"
4973,"$1,385,000",TWNHS,4445,Lafayette ST,STCL,"4/3,0,0,0",2005,13,"1,385,000"
4974,"$1,400,000",SFR/D,555,Raymond AVE,SJOS,"3/2,0,0,0",1941,77,"1,400,000"
4975,"$1,404,200",SFR/D,841,Latimer AVE,CMPB,"3/2,0,0,0",1966,52,"1,404,200"
4976,"$1,408,000",SFR/D,2410,Apsis AVE,SJOS,"3/2,0,1,0",1979,39,"1,408,000"
4977,"$1,429,000",SFR/D,190,Via Novella,APTO,"3/2,0,0,0",1978,40,"1,429,000"
4978,"$1,450,000",SFR/D,110,Esmeralda DR,STCZ,"4/3,0,0,0",1972,46,"1,450,000"
4979,"$1,470,000",SFR/D,1167,Crespi DR,PFCA,"4/3,0,0,0",1958,60,"1,470,000"
4980,"$1,500,000",SFR/D,340,Alameda De Las Pulgas,RDW,"3/2,0,0,0",1953,65,"1,500,000"
4981,"$1,550,000",TWNHS,22650,Silver Oak LN,CUPE,"2/2,0,0,0",1979,39,"1,550,000"
4982,"$1,567,000",SFR/D,228,Barbara DR,LOSG,"3/2,0,0,0",1963,55,"1,567,000"
4983,"$1,610,000",SFR/D,1278,Glen Dell DR,SJOS,"4/2,0,0,0",1951,67,"1,610,000"
4984,"$1,622,000",SFR/D,1176,Culligan BLVD,SJOS,"4/2,0,0,0",1962,56,"1,622,000"
4985,"$1,638,000",SFR/D,2456,Franciscan CT,STCL,"4/2,0,0,0",1975,43,"1,638,000"
4986,"$1,680,000",SFR/D,2211,De Paul PL,STCL,"4/2,0,0,0",1958,60,"1,680,000"
4987,"$1,680,000",CONDO,879,Altaire WALK,PALT,"3/2,0,1,0",2009,9,"1,680,000"
4988,"$1,740,000",SFR/D,775,Morse ST,SJOS,"3/2,0,0,0",1912,106,"1,740,000"
4989,"$1,850,000",SFR/D,12747,Camrose AVE,SARA,"4/3,0,0,0",1955,63,"1,850,000"
4990,"$2,116,000",SFR/D,10480,Pineville AVE,CUPE,"3/2,0,0,0",1959,59,"2,116,000"
4991,"$2,140,000",SFR/A,1303,Cuernavaca Circulo,MTVW,"3/2,0,1,0",1986,32,"2,140,000"
4992,"$2,225,000",SFR/D,838,Cedro WAY,OA,"3/2,0,0,0",1962,56,"2,225,000"
4993,"$2,349,000",DPLX/D,4015,Marcus AVE,NB,"5/2,1,1,0",1950/EST,68,"2,349,000"
4994,"$2,385,000",SFR/D,12260,Heritage WAY,GILR,"5/5,0,0,0",2017,1,"2,385,000"
4995,"$2,435,000",SFR/D,20280,Via Santa Teresa,SJOS,"5/4,0,0,0",1969,49,"2,435,000"
4996,"$2,500,000",SFR/D,12547,Scully AVE,SARA,"3/2,0,0,0",1968,50,"2,500,000"
4997,"$2,950,000",SFR/D,150,Catalina CT,LALT,"4/2,0,1,0",1957,61,"2,950,000"
4998,"$4,125,000",SFR/D,1361,Drake AVE,BRLG,"5/4,0,1,0",2012,6,"4,125,000"

In [ ]:
new_by_value = by_value.reset_index()
new_by_value.head()

In [ ]:
top_5 = new_by_value.iloc[0:round(len(new_by_value)*0.05), :]
bottom_5 = new_by_value.iloc[round(len(new_by_value)*0.95):len(new_by_value), :]

In [ ]:
top_5["housing_median_age"].mean()

### Ploting on Gmap

In [ ]:
df['LatLng'] = df['latitude'].astype(str) + ',' + df['longitude'].astype(str)
for i in df['LatLng']:
    target_url = f"https://maps.googleapis.com/maps/api/geocode/json?latlng={i}&key={api_key}"
    geo_data = requests.get(target_url).json()

### Analysis

In [ ]:
# Groupby Longitude and Latitude
loc_df = df.set_index(['longitude', 'latitude'])
loc_df.head()

In [ ]:
ocean_group_median = loc_df.groupby('ocean_proximity').median()
ocean_group_median

In [ ]:
ocean_group_mean = loc_df.groupby('ocean_proximity').mean()
ocean_group_mean

In [ ]:
# Pick top 10% and bottom 10% of listed entries from 1990 database

In [ ]:
# Find out shared properties for both top and bottom 10% enties
    # Find mean for population density, room numbers and etc.